
<header id='nav'>
	<div class='container'>
		<nav class="navbar navbar-expand-lg navbar-light">
		  <a class="navbar-brand" href="index.html">
		  LOGO Site
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  <li class="nav-item active">
				<a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#content">About Proactive</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#content">List of Activities</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#content">Q&A</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#content">Contact Us</a>
			  </li>
			</ul>
		  </div>
		</nav>
	</div>
</header>


<section id="intro">
	<div class="jumbotron"> 
		<div class='container'>
			<div class='row'>
				<div class="col-md-12">
					<h1>{{message}}</h1>
					<p class='lead'>香港既美等緊你地去發掘！</p>
					<p class='lead'>去行山、露營、影相…各種戶外活動通通有齊！</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content'>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 text-center">
				<h3>成日想搵隱世靚景？</h3>
				<div class="row">
					<div class="col-md-12 text-center">
						<p class="main">香港人鐘情打卡文化，有時間就周圍搵景點影相，但又有冇試過唔識得去？又或者想搵個人帶住自己去？</p>
						<p class="main">呢度你可以搵到由唔同人開既活動團，由專人帶住你去行山同影相，就唔洗怕無照應啦！</p>
						<p class="slogen">Give yourself a break, under the stressful daily time.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="activity">
	<div class='container'>
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>最新活動</h3>
			</div>
		</div>
		<div class='row'>
			<div class="col-md-4">
				<div class="outer">
					<div class="upper">
						<img src="//coolgemini.github.io/inova/image/inner.png">
						<div class="innertext">
							<span>可報名</span>
						</div>
					</div>
					<div class="lower">
						<h3>白腊觀星露營體驗</h3>
						<span><i class="fas fa-map-pin"></i> 地點：西貢萬宜水庫白腊</span>
						<br>
						<span><i class="fas fa-calendar-alt"></i> 日期：2020年11月30日</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="outer">
					<div class="upper">
						<img src="//coolgemini.github.io/inova/image/inner.png">
						<div class="innertext">
							<span>可報名</span>
						</div>
					</div>
					<div class="lower">
						<h3>大坳門觀星教學</h3>
						<span><i class="fas fa-map-pin"></i> 地點：清水灣大坳門</span>
						<br>
						<span><i class="fas fa-calendar-alt"></i> 日期：2020年11月30日</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="outer">
					<div class="upper">
						<img src="//coolgemini.github.io/inova/image/inner.png">
						<div class="innertext">
							<span>可報名</span>
						</div>
					</div>
					<div class="lower">
						<h3>菠蘿山、下白泥日落之旅</h3>
						<span><i class="fas fa-map-pin"></i> 地點：屯門</span>
						<br>
						<span><i class="fas fa-calendar-alt"></i> 日期：2020年11月30日</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				Proactive
			</div>
			<div class="col-md-4">
				123
			</div>
			<div class="col-md-4">
				123
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>© 2020 Proactive All Rights Reserved</p>
		</div>
	</div>
</section>